.image-container{
    background: url(../imagens/foto_principal_register.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    
}


.form-container{
    
    background: rgb(0, 0, 0);
    display: flex;
   justify-content: center;
}

.form-box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
}
 
 .log{
     padding-bottom: 40px;
 } 
 
.form-box .form-input{
 position: relative;
}

.form-box .form-input  input  {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ff7b00;
    background: transparent;
    border-left: 0; 
    border-top: 0;
    border-right: 0;
    outline: none;  
}

 .form-box .form-input input:focus,.form-box .form-input input:valid{
     border-bottom: 2px solid  #ff7b00;
 }

 
 
.forget-link{
    color: white;
    
}
.forget-link:hover{
    color:  #ff7b00;
    text-decoration: none;
}

.form-box button[type="submit"]{
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    border-radius: 32px;
    height: 40px;
    border-right: 5px;
    background-color: #ff7b00 ;
    color: white;
    font-weight: bold;
    transition:0.5s;
}

.form-box button[type="submit"]:hover{
  box-shadow: 0px 9px 10px -2px rgb(255, 123, 0,0.55);
  -webkit-box-shadow: 0px 9px 10px -2px rgb(255, 123, 0,0.55);
  -moz-box-shadow: 0px 9px 10px -2px rgb(255, 123, 0,0.55);
}

 

input{
    color: white;
}

.name{
    color: white;
    margin-bottom: 10px;
}